/* root properties */
:root {
    --primary: #6b82f6;
    --primary-light: #dbeafe;
    --primary-dark: #1e3a8a;
    --background: #f9fafb;
    --success: #d1fae5;
    --success-text: #065f46;
    --error: #fee2e2;
    --error-text: #b91c1c;
}

/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generici */

body {
    font-family: "Inter", sans-serif;
    background-color: var(--background);
    color: #333;
    line-height: 1.6;
}

header {
    background-color: var(--primary);
    color: white;
    padding: 2rem 1rem;
    text-align: center;
}

/* clock */

.clock-container {
    background-color: var(--primary-light);
    color: var(--primary-light);
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    letter-spacing: 2px;
    border-bottom: 2px solid var(--primary);
}

/* calendar container */

.calendar {
    max-width: 1000px;
    height: auto;
    margin: 2rem auto;
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1 );
}

.nav-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.nav-btn {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-dark);
}

/* media queries */

@media screen and (max-width: 768px) {
    .clock-container {
        font-size: 1.4rem;
        padding: 0.75rem;
    }
    
}